@import 'mixins';

.songCount {
  text-align: center;
}

.songs {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 1000px;
  width: 100%;
  flex: 1;
}